<h2>Edit a Gun</h2>

<% current_gun = Gun.where(id: params[:gun_edit_selector] ) %>

<form action=<%= "/guns/#{current_gun[0].id}" %> method="POST">
  <input type="hidden" name="_method" value="patch">
  <label for="serial_num"><b>Serial Number:</b></label>
  <input type="text" name="gun[serial_num]" value= <%= current_gun[0].serial_num %>>
  <br>
  <label for="type_description"><b>Type and Description:</b></label>
  <input type="text" name="gun[type_description]" value= <%= current_gun[0].type_description %>>
  <% current_owner = Persona.where(id: current_gun[0].persona_id) %>
  <p><b>Current Owner:</b> <%= current_owner[0].first_name %> <%= current_owner[0].last_name %></p>
  <label for="persona_id">Transfer Ownership to Persona:(select current owner to retain ownerhsip)</label>
  <br>
  <select name="persona_id" id="persona_id">
  <% current_persona.each do |person| %>
    <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
  <% end %>
  </select>
  <br><br>
  <input type="hidden" name="gun[id]" value=<%= "#{current_gun[0].id}" %>>
  <input type="submit" id=<%= "#{current_gun[0].id}" %> value="Update Gun">

</form>
<br>
<form action=<%= "/guns/#{@gun.id}" %> method="delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
<br>
<a href="/logout">Logout</a> | <a href="/personas/show">Return to your Personas </a> 

