<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>

<h2><%= current_user.name%>'s Guns</h2>


<% current_guns = Gun.where(persona_id: Persona.where(member_id: current_user.id)) %>
 
<p>
  <table>
    <tr>
      <th> ID </th>
      <th> Serial Number </th>
      <th> Type and Description </th>
      <th> Owner Persona ID</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>-------</td>
      <td>--------------</td>
      <td>--------------</td>
      <td>-------</td>
      <td>-------</td>
      <td>-------</td>
    </tr>
    <% current_guns.each do |gun| %>
  
      <tr>
        <td><%= gun.id %></td>
        <td><%= gun.serial_num %></td>
        <td><%= gun.type_description %></td>
        <td><%= gun.persona_id %></td>
        <td><a href=<%= "/guns/#{gun.id}" %>>View</a></td>
      </tr>
      
    <% end %>
  </table>

</p>
<br>
<br>
<a href="/guns/new">New Gun</a> 
