<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>

<h2><%= current_user.name%>'s Addresses</h2>


<% current_address = Address.where(id: current_user.id) %>
  
<p>
  <table>
   <b> <tr>
      <th> ID </th>
      <th> Address </th>
      <th> Owner Persona ID </th>
      <th> Description </th>
      <th> Has Interior?</th>
      <th></th>
    </tr>
    <tr>
      <td>-------</td>
      <td>--------------</td>
      <td>-----------------------</td>
      <td>-----------------------</td>
      <td>-------</td>
    </tr></b>
  
    <% current_address.each do |house| %>
  
      <tr>
        <td><%= house.id %></td>
        <td><%= house.address %></td>
        <td><%= house.persona_id %></td>
        <td><%= house.description %></td>
        <td><a href=<%= "/addresses/#{house.id}" %>>View</a></td>
      </tr>
      
    <% end %>
  </table>

</p>
<br>
<br>
<br>
<a href="/addresses">Return to Addresses</a> | <a href="/vehicles">View Vehicles</a> | <a href="/addresses">View Addressess</a> | <a href=<%= "/guns"%>>View Guns</a><br>
<a href=<%= "/members/#{current_user.id}/show" %>>Return to current Member (<%= current_user.name %>)</a> | <a href="/personas">View All Member Personas</a> | <a href="/logout">Logout</a>
