<h2>Address Info</h2>
<% current_address = Address.where(id: params[:id]) %>
<% @address = current_address[0] %>

<p>
  <b>Address:</b> <%= @address.address %><br>
  <b>Owner Persona ID:</b> <%= @address.persona_id %><br>
  <b>Description:</b> <%= @address.description %><br>
  <b>Has Interior?:</b> <%= @address.has_interior %><br>
  
</p>
<br>
<a href=<%= "/addresses/#{@address.id}/edit" %>>Edit Address</a>
