<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>
<h1><%= current_user.name%>'s Personas</h1>

<p>
  <% current_personas = Persona.where(member_id: current_user.id) %>

  <table>
    <tr>
      <th> ID </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Agency </th>
      <th></th>
    </tr>
    <tr>
      <td>-------</td>
      <td>--------------</td>
      <td>--------------</td>
      <td>-------</td>
      <td>-------</td>
    </tr>
    <% current_personas.each do |person| %>
  
      <tr>
        <td><%= person.id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.agency_id %></td>
        <td><a href=<%= "/personas/#{person.id}" %>>View</a></td>
      </tr>
      
    <% end %>
  </table>
</p>
<br>



<br>
<a href="/guns">View Guns</a> | <a href="/vehicles">View Vehicles</a> | <a href="/addresses">View Addressess</a><br>
<a href="/guns/new">Create a new Gun</a> | <a href="/vehicles/new">Create a new Vehicle</a> | <a href="/addresses/new">Create a new Address</a><br>
<a href=<%= "/personas/new"%>>New Persona</a> | <a href=<%= "/members/#{current_user.id}/show" %>>Return to current Member (<%= current_user.name %>)</a> | <a href="/logout">Logout</a>
<%# why is that in an erb tag right above here? %>