<h1><%= current_user.name%>'s Personas</h1>

<p>
  <% current_personas = Persona.where(member_id: current_user.id) %>
  
  <table>
    <tr>
      <th> ID </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Agency </th>
    </tr>
  <% current_personas.each do |person| %>
  <% binding.pry %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.agency_id %></td>
      </tr>
  <% end %>
</table>
