<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>
<h1><%= @persona.first_name%> <%= @persona.last_name%></h1>
<p>
 
  <table>
    <tr>
      <th> ID </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Agency </th>
    </tr>
    <tr>
      <td>-------</td>
      <td>--------------</td>
      <td>--------------</td>
      <td>-------</td>
     
    </tr>  
      <tr>
        <td><%= @persona.id %></td>
        <td><%= @persona.first_name %></td>
        <td><%= @persona.last_name %></td>
        <td><%= @persona.agency_id %></td>
      </tr>
  </table>
</p>
<br>
<a href=<%= "/personas/#{@persona.id}/edit" %>>Edit Persona</a>
