<style>
th {
  padding: 5px;
}
td {
  padding: 5px
}
</style>
<h1><%= @persona.first_name%> <%= @persona.last_name%></h1>
<p>
 
  <table>
    <tr>
      <th> ID </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Agency </th>
    </tr>
    <tr>
      <td>-------</td>
      <td>--------------</td>
      <td>--------------</td>
      <td>-------</td>
     
    </tr>  
      <tr>
        <td><%= @persona.id %></td>
        <td><%= @persona.first_name %></td>
        <td><%= @persona.last_name %></td>
        <td><%= @persona.agency_id %></td>
      </tr>
  </table>
</p>
<br>
<a href=<%= "/personas/#{@persona.id}/edit" %>>Edit Persona</a>
<br>
<a href="/guns">View Guns</a> | <a href="/vehicles">View Vehicles</a> | <a href="/addresses">View Addressess</a><br>
<a href="/guns/new">Create a new Gun</a> | <a href="/vehicles/new">Create a new Vehicle</a> | <a href="/addresses/new">Create a new Address</a><br>
<a href=<%= "/personas/new"%>>New Persona</a> | <a href=<%= "/members/#{current_user.id}/show" %>>Return to current Member (<%= current_user.name %>)</a> | <a href="/logout">Logout</a>
<%# why is that in an erb tag right above here? %>