<h2>Vehicle Info</h2>
<% current_vehicle = Vehicle.where(id: params[:id]) %>
<% @vehicle = current_vehicle[0] %>

<p>
  <b>License Plate:</b> <%= @vehicle.plate_number %><br>
  <b>Owner Persona ID:</b> <%= @vehicle.persona_id %><br>
  <b>Type/Description:</b> <%= @vehicle.type_description %><br>
  <b>Color:</b> <%= @vehicle.color %><br>
  
</p>
<a href=<%= "/vehicles/#{@vehicle.id}/edit" %>>Edit Vehicle</a> 