
<h2>Edit a Member</h2>


<form action=<%= "/members/#{@member.id}" %> method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Name:</label>
  <input type="text" name="member[name]" value=<%= member.name %>>
  <label for="admin_level">Admin Level:</label>
  <input type="integer" name="member[admin_level]" value=<%= member.admin_level %>>
  <input type="submit" value="Edit Member Values">
</form>
<br>
<br>
<form action=<%= "/members/#{@member.id}" %> method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value=<%= "Delete #{@member.name}"%>>
</form>