<h2>Member Info: </h2>
<p>

<ul>
  
  <li><b>Name: </b><%= current_user.name %></li>
  <li><b>Admin Level: </b><%= current_user.admin_level_id %></li>
</ul>
<br>
<a href=<%= "/personas/new"%>>New Persona</a> | <a href=<%= "/members/#{current_user.id}/edit" %>>Edit <%= current_user.name %></a> <br> | <a href="/members">View All Members</a> | <a href="/personas/show">View Personas</a> | <a href="/logout">Logout</a>
</p>
